---
---

<!DOCTYPE html>
<html style="overflow: auto; height: auto;">
  <head>
    <title>genalgo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://shadaj.me/img/favicon.ico">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
		<link href="http://shadaj.me/css/main.css" rel="stylesheet">

    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="mdl-layout__header mdl-layout__header--waterfall" style="background-color: #0B4F6C">
		    <div class="mdl-layout__header-row">
		      <a href="http://shadaj.me"><span class="mdl-layout-title"><img class="nav-profile" src="http://shadaj.me/img/profile.jpg"></span></a>

					<a class="mdl-navigation__link" href="/jvm/latest/api">JVM API</a>
					<a class="mdl-navigation__link" href="/js/latest/api">JS API</a>

		      <div class="mdl-layout-spacer"></div>

		      <nav class="mdl-navigation">
						<a class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 33%; background: #2979FF; color: white" href="https://github.com/shadaj/genalgo" target="_blank">
				      GitHub
				    </a>
		      </nav>
		    </div>
		  </header>
		  <main class="mdl-layout__content">
				{{ content }}
		  </main>
		</div>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/demos-opt.js"></script>
    <script type="text/javascript" src="/demos-launcher.js"></script>
  </body>
</html>
