---
---

<!DOCTYPE html>
<html style="overflow: auto; height: auto;">
  <link href="http://shadaj.me/main.min.css" rel="stylesheet">
  <link href="/css/syntax.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">

  <head>
    <title>genalgo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <div id="menu" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://shadaj.me">
            <img class="nav-profile" src="http://shadaj.me/img/profile.jpg">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">API Documentation <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/jvm/latest/api">JVM API</a></li>
                <li><a href="/js/latest/api">JS API</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href="https://github.com/shadaj/genalgo" target="_new"><img style="z-index: 1000; position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <div class="container">
      <div id="main">
        {{ content }}
      </div>
    </div>

    <script type="text/javascript" src="http://shadaj.me/deps.min.js"></script>
    <script type="text/javascript" src="/demos-opt.js"></script>
    <script type="text/javascript" src="/demos-launcher.js"></script>
  </body>
</html>
