<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="uniprot1">
      <label class="mdl-textfield__label" for="uniprot1">Uniprot ID 1</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="uniprot2">
      <label class="mdl-textfield__label" for="uniprot2">Uniprot ID 2</label>
    </div>
    <button id="align-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
      Align!
    </button>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <textarea class="uniprot-out" readonly wrap="off" rows="5" id="output">Results will show up here</textarea>
  </div>
<div>
